@font-face {
  font-family: "Rajdhani";
  src: url("/Rajdhani-Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  background: rgba(6, 1, 2, 0.61);
  background: linear-gradient(
    90deg,
    rgba(6, 1, 2, 0.911) 0%,
    rgba(116, 12, 12, 0.938) 52%
  );
  color: #f5beda;
  margin: 0 auto;
  font-family: "Rajdhani";
  font-weight: bold;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #0000008c;
  display: block;
  height: fit-content;
  padding: 1em;
  margin-top: 1em;
}
section {
  margin: 1em auto;
}
form {
  display: grid;
  place-items: center;
  width: 100%;
  align-items: center;
  border: 2px solid #f5beda;
  border-radius: 8px;
}
input {
  width: 50%;
  display: grid;
  place-items: center;
  padding: 5px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffffa2;
  color: #000000;
  border-radius: 5px;
  font-family: "Rajdhani";
  font-weight: bold;
}

button {
  width: 25%;
  padding: 1em;
  font-size: 1rem;
  border-radius: 5px;
  border-color: #7702026b;
  color: #770202e7;
  font-weight: bold;
  background-color: #000000bd;
  font-family: "Rajdhani";
}
button:hover {
  background-color: #770202e7;
  color: #000000;
  text-shadow: 1px 2px 2px rgba(250, 250, 250, 0.26);
}
.footer-element {
  margin: 1em auto;
  content: normal;
}

.containerFooter {
  display: grid;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  width: 100%;

  justify-content: center;
}
.container {
  display: grid;
  position: relative;
  width: 90%;

  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  grid-template-rows: 3fr;
}
.burger {
  width: 30px;
  height: 5px;
  background-color: #fafafa;
  margin: 0.4em 0;
  border-radius: 3px;
}

.box {
  width: 100%;
}
.errorInput {
  font-size: 1rem;
  opacity: 0;
}
.errorInputActive {
  font-size: 1rem;
  opacity: 1;
  color: #ff0000;
}

.itsFineInput {
  font-size: 1rem;
  opacity: 0;
}

.itsFineInputActive {
  font-size: 1rem;
  opacity: 1;
}
.spanError {
  color: red;
  font-size: 1rem;
}

.form-element {
  display: grid;
  place-items: center;
  margin: 0 auto;
  width: 100%;
}
.box1 {
  width: 85%;
  display: grid;
  border: 1px solid #fafafa;
  border-radius: 5px;
  position: relative;
  place-items: center;
  margin: 1em auto;
  color: #fafafa;
}

#burguer-button {
  position: relative;
  display: block;
  border-radius: 8px;
  border: 2px solid #fafafaa2;
  padding: 0.4em;
}

#nav {
  display: none;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 0 auto;

  grid-row-start: 1;
  grid-row-end: 2;
}
#hero {
  display: none;

  grid-column-start: 1;
  grid-column-end: 2;
}

#sectionForm {
  display: grid;
  place-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;
}

#showMoviesPanel {
  display: grid;
  place-items: center;

  
  grid-row-start: 3;
  grid-row-end: 4;
  align-items: center;
}

#resetButton {
  color: #f0ed33;
}
img{
  max-width: 100%;
  mix-blend-mode: screen;
  position:relative
}

@media (width >=768px) {
  img{
    max-width: 100%;
    mix-blend-mode: screen;
    position:relative
  }
  .nav-element {
    display: flex;
    width: 15%;
    font-size: 2rem;
  }
  .containerFooter {
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    flex-direction: row;
    width: 100%;
  }

  .footer-element {
    position: relative;
    display: flex;
    flex-grow: 1;
    font-size: 1rem;
    margin: 0 auto;
    flex: 1;
    width: 33%;
  }
  .logo-footer-container {
    position: relative;
    width: fit-content;
  }
  .socialLinks-container {
    display: flex;
    justify-content: flex-end;
  }
  .moviesPanelContainer {
    display: block;
    place-items: center;
    grid-row: 5 6;
  }
  .box1 {
    width: 400px;
    justify-content: center;
    border: 1px solid #fafafa;
    text-align: center;
    display: grid;
    transition: all 400ms ease-in;
    margin: 1em auto;
    filter: grayscale(1) opacity(.8)
  }
  .box1:hover{
    filter: grayscale(0) opacity(1);
    
  }
  .form-element {
    margin-bottom: 2em;
    text-align: center;
    place-items: center;
  }

  .box {
    width: 100%;
  }
  #burguer-button {
    display: none;
  }
  #nav {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 auto;
    position: relative;
    top: 0;
    display: inline-flex;
    justify-content: space-around;
    background-color: #f000;
    font-size: 0.5rem;
  }

  #hero {
    position: relative;
    display: block;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: #000000;
    
  }
  
  

  #sectionForm {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
  }
  #showMoviesPanel {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    place-items: center;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  #moviesCardsContainer{
    display: grid;
    place-items: center;
    position: relative;
    grid-row-start: 1;
    grid-row-end: 2;
    }
    
    .hero-container {
      color: var(--color);
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
    }
    
    .bannerbot {
      text-align: center;
      width: 100%;
      color: #fafafa;
    }
    
    .stack {
      display: grid;
      grid-template-columns: 1fr;
    }

    .stack span {
      color:#fafafa;
      font-weight: bold;
      grid-row-start: 1;
      grid-column-start: 1;
      font-size: 4rem;
      --stack-height: calc(100% / var(--stacks) - 1px);
      --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
      --clip-top: calc(var(--stack-height) * var(--index));
      --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
      clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
      animation: stack 180ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
    }
    
    .stack span:nth-child(odd) { --glitch-translate: 8px; }
    .stack span:nth-child(even) { --glitch-translate: -8px; }
    
    @keyframes stack {
      0% {
        opacity: 1;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 rgb(236, 18, 18)d, 2px -3px 0 rgb(5, 5, 231);
      };
      60% {
        opacity: 0.5;
        transform: translateX(50%);
      }
      80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 rgb(236, 18, 18), -2px 3px 0 rgb(5, 5, 231);
      }
      100% {
        text-shadow: none;
      }
    }
    
    @keyframes glitch {
      0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
      }
      2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
      }
      4%, 100% {  text-shadow: none; transform: none; }
    }
}
